{% extends "../default.html" %}

{% block content %}

{% include "allocourtier/carousel.html" %}

<h1>AlloCourtier : Votre crédit immobilier sur mesure</h1>
<h2 id="betac_subtitle_description">Une expertise de 40ans d'expérience dans tous les domaines de la construction</h2>
<p class="fade_large">
  Euismod in pellentesque massa placerat duis ultricies lacus. Amet, aliquam id diam maecenas ultricies mi eget mauris pharetra et ultrices neque ornare aenean euismod elementum nisi, quis eleifend quam adipiscing.
</p>
<p class="fade_large">
  Risus, at ultrices mi tempus imperdiet nulla malesuada pellentesque elit eget gravida. Condimentum lacinia quis vel eros donec ac odio tempor orci dapibus ultrices in iaculis nunc sed augue lacus?
</p>


<div class="row contact-section">
  <div class="col-md-4">
    <span id="contact-form" class="anchor"></span>
    <h2 id="titre-contact">Formulaire de contact</h2>
    <p>
      Rhoncus, urna neque viverra justo, nec ultrices dui sapien eget mi proin sed libero enim, sed faucibus? Pretium vulputate sapien nec sagittis aliquam malesuada bibendum arcu vitae elementum curabitur vitae.
    </p>
  </div>
  <div class="col-md-8">
    <form action="https://formspree.io/{{site.email}}" method="POST">
      <input type="email" placeholder="Votre email" name="_replyto">
      <textarea name="message" placeholder="Votre message"></textarea>
      <button type="submit">Envoyer</button>
    </form>
  </div>
</div>

{% endblock %}
