body {

    #page-main-container {
        margin-top: 70px;
    }

    #betac-main-carousel { 
        margin-bottom: 30px;
    }

    .navbar-default {
        border: 0;
        padding: 0;
    }    

    .project-illustration {
        margin-bottom: 30px;
    }

    /** DOMAINES **/
    .domaines-container {     
        padding: 30px 0px;
        
        .domaine {
            height: 80px;
            width: 80px;            
            line-height: 80px;
            font-size: 2em;
        }
    }

    @media (max-width: 450px) {
        .domaines-container {          
            
            .domaine {
                height: 60px;
                width: 60px;            
                line-height: 60px;
                font-size: 1.5em;
            }
        }
    }
}
