<footer>
  <div class="container">
    <div class="row">

      <div class="col-sm-3">
        <span id="site-name-footer">{{site.title}}</span>
        <span class="copyright">Copyright © {{site.title}}</span>
      </div>
      <div class="col-sm-3">
        <ul>
          <li>lien footer</li>
          <li>lien footer</li>
          <li>lien footer</li>
          <li>lien footer</li>
          <li>lien footer</li>
        </ul>
      </div>


      <div class="col-sm-3">
        <ul>
          <li>lien footer</li>
          <li>lien footer</li>
          <li>lien footer</li>
          <li>lien footer</li>
          <li>lien footer</li>
        </ul>
      </div>
      <div class="col-sm-3">
        <ul class="list-inline quicklinks">
          <li><a href="#">Privacy Policy</a>
          </li>
          <li><a href="#">Terms of Use</a>
          </li>
        </ul>
      </div>

    </div>
  </div>
</footer>
